@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Tamil&display=swap');

.cards-container {
    /* margin: auto;
    display: flex;
    justify-content: center; */

    position: absolute;
    display: flex;
    left: 300px;
    top: 730px;
}

.img-bakery {
    width: 270px;
    height: 190px;
    /* width: 14rem;
    height: 11rem;
    object-fit: cover; */
}

.item-title,.valores {
    margin: 4px;
    padding: 1px;
    text-align: center;
}

.item-title {
    font-family: 'Crete Round', serif;
    font-size: 1.3rem;
}

.valores {
    margin-top: -15px;
    font-family: 'Anek Tamil', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: orange;
}
