@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text&display=swap');

.componentes-tc {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #fff;






}

.imagen-tc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.imagen-tc img {
  width: 70%;
}

.contenedor-tc {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contenedor-tc div {
  width: 80%;
}

.titulo-tc {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 2rem;
  line-height: 60px;
  letter-spacing: 2px;
  color: #FF8126;
  margin: 0;



}



.texto-tc {
  font-family: 'Crimson Text', serif;
  font-style: unset;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 30px;
  text-align: justify;
  color: #1F1F1F;




}

@media (min-width: 780px) {
  .imagen-tc img {
    width: 50%;
  }
}


@media (min-width: 968px) {
  .componentes-tc {
    grid-template-columns: 1fr 1fr;
  }

  .imagen-tc {
    justify-content: flex-end;
  }

  .contenedor-tc {
    width: 70%;
    justify-content: flex-start;
    margin: 0 0 0 20px;
  }

  .imagen-tc img {
    width: 80%;
  }
}

@media (min-width: 1500px) {
  .imagen-tc img {
    width: 60%;
  }
}