@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Tamil&display=swap');

.figure-card {
    position: relative;
    margin: 20px;
    width: 270px;
    height: 332px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 20px;
    transition: 0.3s;
}

.figure-card:hover {
    transform: scale(1);
    box-shadow: 0px 0px 12px 0px;
}

.img-bakery {
    width: 270px;
    height: 190px;
}

.item-title,.valores {
    margin: 0;
    padding: 1px;
    text-align: center;
}

.card-fcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.item-title {
    font-family: 'Crete Round', serif;
    font-size: 1.3rem;
}

.valores {
    font-family: 'Anek Tamil', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: orange;
}

.valores p {
    margin: 0;
}

.amountButton:active {
    fill: #ff8126;
}